body {
    font-family: sans-serif;
    text-align: center;
    background-color: aqua;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: blue;
    margin: 25%;
    margin-top: 5%;
  }
  
  label, input, button {
    margin: 10px;
  }
  
  #response {
    margin: 20px;
    font-weight: bold;
  }
  